@import url("tf2icons.css");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
/*@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css");*/
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/solid.min.css");

/* color palette from <https://github.com/vuejs/theme> */
:root {
  --vt-c-white: #ffffff;
  --vt-c-white-soft: #f8f8f8;
  --vt-c-white-mute: #f2f2f2;

  --vt-c-black: #181818;
  --vt-c-black-soft: #222222;
  --vt-c-black-mute: #282828;

  --vt-c-indigo: #2c3e50;

  --vt-c-divider-light-1: rgba(60, 60, 60, 0.29);
  --vt-c-divider-light-2: rgba(60, 60, 60, 0.12);
  --vt-c-divider-dark-1: rgba(84, 84, 84, 0.65);
  --vt-c-divider-dark-2: rgba(84, 84, 84, 0.48);

  --vt-c-text-light-1: var(--vt-c-indigo);
  --vt-c-text-light-2: rgba(60, 60, 60, 0.66);
  --vt-c-text-dark-1: var(--vt-c-white);
  --vt-c-text-dark-2: rgba(235, 235, 235, 0.64);

  --text: #4c4f69;
  --subtext-1: #5c5f77;
  --subtext-0: #6c6f85;
  --overlay-2: #7c7f93;
  --overlay-1: #8c8fa1;
  --overlay-0: #9ca0b0;

  --surface-0: #ccd0da;
  --base: #eff1f5;
  --base-0: #fcfdfe;
  --mantle: #e6e9ef;
  --crust: #dce0e8;

  --red: #d20f39;
  --blue: #1e66f5;

  --flamingo: #dd7878;
  --flamingo-transparent: #f0c6c655;
  --peach: #fe640b;
  --green: #40a02b;
  --yellow: #df8e1d;

  --destructive: var(--flamingo);
  /*
  --green: #a6e3a1;
  --yellow: #f9e2af;
*/
  --green-transparent: color-mix(in srgb, var(--green), transparent 80%);
  --yellow-transparent: color-mix(in srgb, var(--yellow), transparent 80%);
  --blue-transparent: color-mix(in srgb, var(--blue), transparent 80%);

  --lavender: #7287fd;
  --accent: var(--lavender);
  --accent-0: color-mix(in srgb, var(--accent),  var(--text) 50%);
  --lavender-transparent: color-mix(in srgb, var(--lavender), transparent 80%);
  --accent-transparent-80: color-mix(in srgb, var(--accent), transparent 80%);
  --accent-transparent-50: color-mix(in srgb, var(--accent), transparent 50%);
  --accent-transparent: var(--accent-transparent-80);
  --shadow: color-mix(in srgb, var(--text), transparent 50%);

  --vs-selected-color: var(--text)!important;
  --vs-dropdown-option--active-bg: var(--accent)!important;
  --vs-dropdown-option--active-color: var(--base)!important;
  --vs-border-color: var(--overlay-0)!important;

  /*
  --rosewater: #f4dbd6;
  --flamingo: #f0c6c6;
  --pink: #f5bde6;
  --mauve: #c6a0f6;
  --red: #ed8796;
  --maroon: #ee99a0;
  --peach: #f5a97f;
  --yellow: #eed49f;
  --green: #a6da95;
  --teal: #8bd5ca;
  --sky: #91d7e3;
  --sapphire: #7dc4e4;
  --blue: #8aadf4;
  --lavender: #b7bdf8;
  --text: #dad3d5;
  --subtext-1: #bec0c0;
  --subtext-0: #abada5;
  --overlay-2: #9a9a9a;
  --overlay-1: #8b8b8b;
  --overlay-0: #717171;
  --surface-2: #575757;
  --surface-1: #3f3f3f;
  --surface-0: #2f2f2f;
  --base: #181818;
  --base-0: #242424;
  --mantle: #121212;
  --crust: #0f0f0f;
  --destructive: var(--red);
*/
}

/* semantic color variables for this project */
:root {
}

@media (prefers-color-scheme: dark) {
  :root {
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--text);
  background: var(--base);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body.preload * {
 -webkit-transition: none !important;
 -moz-transition: none !important;
 -ms-transition: none !important;
 -o-transition: none !important;
}
