@import './base.css';

#app {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: var(--accent);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: var(--accent-transparent);
  }
}

button {
  font-weight: 700;
  color: var(--text);
  background-color: var(--surface-0);
  border: none;
  padding: 8px;
  border-radius: 4px;
}

button.accent {
  background-color: var(--accent);
  color: var(--base);
  text-transform: uppercase;
}

h1 {
  font-weight: 800;
  font-size: 200%;
  line-height: 2em;
}

em.aside {
  color: var(--overlay-0);
}
