@import './base.css';

#app {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: var(--accent);
  transition: 0.4s;
  padding: 3px;
}

a.button {
  padding: unset;
}

@media (hover: hover) {
  a:hover {
    background-color: var(--accent-transparent);
  }
}

button {
  display: flex;
  align-items: center;
  gap: 4px;
  color: var(--text);
  background-color: var(--crust);
  border: none;
  padding: 6px 20px;
  line-height: 1.6;
  border-radius: 4px;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  cursor: pointer;
  transition-duration: 200ms;
}

button.icon-end {
  justify-content: space-between;
}

button.icon {
  background-color: transparent;
  padding: 8px;
}

button.icon:hover {
  background-color: var(--surface-0);
  border-radius: 4px;
}

button.icon i.bi {
  transform: translateY(-0.5px);
}

button > i.bi {
  /*transform: translateY(1px);*/
}

button > i.bi.margin {
  margin-right: 0.5em;
}

i.bi.margin {
  margin-right: 0.5em;
}

button:hover {
  background-color: var(--surface-0);
}

button.accent {
  background-color: var(--accent);
  color: var(--base);
  /*text-transform: uppercase;*/
}

button.accent.dark {
  background-color: var(--text);
  color: var(--base);
}

button.destructive {
  background-color: var(--destructive);
  color: var(--base);
}

button.destructive-on-hover:hover {
  background-color: var(--destructive);
  color: var(--base);
}

button.accent:hover {
  background-color: var(--text);
  color: var(--base);
}

button.eq {
  padding: 8px;
}

button.transparent {
  background-color: var(--transparent);
}

button.transparent:hover {
  background-color: var(--surface-0);
}

button.small {
  padding: 8px 16px;
}

button[disabled] {
  color: var(--overlay-0);
  cursor: initial;
}

button[disabled]:hover {
  color: var(--overlay-0);
  background-color: unset;
}

h1 {
  font-weight: 800;
  font-size: 200%;
  line-height: 2em;
}

h2 {
  font-weight: 800;
}

details > summary {
  cursor: pointer;
  list-style: none;
}

details.accordion {
  padding: 20px;
  background-color: var(--mantle);
  border: 1px solid var(--mantle);
  border-radius: 8px;
}

details.accordion[open] {
  background-color: var(--base);
  border-color: var(--overlay-0);
}

details.accordion > summary {
  display: flex;
  align-items: center;
  gap: 1em;
}

details > summary::after {
  content: "›";
  font-size: 1.5rem;
  transition-duration: 200ms;
  margin-left: auto;
}

details[open] > summary::after {
  transform: rotate(90deg);
  transition-duration: 200ms;
}

details > summary > h2 {
  display: inline-block;
}

h3 {
  font-size: 11pt;
  font-weight: 700;
}

span.small {
  font-size: 9pt;
}

em.aside, span.aside {
  color: var(--overlay-0);
}

select {
  appearance: none;
}

.subtext {
  color: var(--overlay-0);
}

main {
  padding: 2rem;
}

input {
  display: block;
  width: 100%;
  color: var(--text);
  padding: 7px 9px;
  border: none;
  /*outline: 1px solid var(--overlay-0);*/
  border: 1px solid var(--overlay-0);
  border-radius: 4px;
  background-color: transparent;
  /*font-size: 11pt;*/
  font-size: 15px;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 4px;
  flex-grow: 1;
}

.form-group.margin {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.form-group.row {
  flex-direction: row;
  margin: none;
}

.form-group .action-buttons {
  display: flex;
  justify-content: end;
  gap: 0.5rem;
}

hr {
  border: none;
  border-top: 1px solid var(--surface-0);
}

.shadow {
  /*box-shadow: 0 0 4px var(--text);*/
}

div[role="menu"] {
  background-color: var(--base);
  border: 1px solid var(--overlay-0);
  border-radius: 4px;
  padding: 4px 0 4px 0;
  min-width: 8rem;
}

div[role="menu"] button {
  background-color: var(--base);
  width: 100%;
  border-radius: 0;
}

div[role="menu"] button.destructive {
  color: var(--destructive);
}

div[role="menu"] button.destructive:hover {
  background-color: var(--destructive);
  color: var(--base);
}

div[role="menu"] button > i.bi.margin {
  margin-right: 0.5em;
}
/*
div[role="menu"] div[role="menuitem"]:first-child button {
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
}

div[role="menu"] div[role="menuitem"]:last-child button {
  border-bottom-left-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
}
*/

div[role="menu"] button:hover {
  background-color: var(--surface-0);
  width: 100%;
}
