flask

# CORS
Flask-CORS

# ORM
sqlalchemy
Flask-SQLAlchemy
SQLAlchemy-Utc

# form/data validation
pydantic==2.9.2
spectree==1.4.1  # generates OpenAPI documents for us to make TypeScript API
                 # clients based on our pydantic models

# DB migrations
alembic
Flask-Migrate

requests

pytz  # timezone handling

discord-webhook  # for sending messages to Discord webhooks

celery[redis]

Flask-Testing
